div,form,img,ul,ol,li,dl,dt,dd,p{margin:0;padding:0px;border:0;}
.sfunfooter20120411{width:100%;background:#fff;color:#333;font-size:12px;font-family:'宋体';text-align:center;clear:both;margin:0 auto;}
.sfunfooter20120411 a:link{font-size:12px;color:#333;text-decoration:none;}
.sfunfooter20120411 a:visited{font-size:12px;color:#333;text-decoration:none;}
.sfunfooter20120411 a:hover{font-size:12px;color:#c00;text-decoration:underline;}
.sfunfooter20120411 .song{line-height:20px;}
.sfunfooter20120411 .verdana{line-height:20px;font-family: Verdana;}
.sfunfooter20120411 .verdana a{color:#333;font-family:'宋体';padding:2px 7px;text-decoration:none;}
.sfunfooter20120411 .verdana a:hover{color:#c00;text-decoration:underline;}
.sfunfooter20120411 .verdana a:hover{color:#c00;text-decoration:underline;}
.sfunfooter20120411 .verdana a.iconip{ background:url(https://static.soufunimg.com/passport/pcimages/mob.png) no-repeat;padding-left:20px}
.sfunfooter20120411 .verdana a.iconan{ background:url(https://static.soufunimg.com/passport/pcimages/mob.png) no-repeat 0 -45px;padding-left:20px}
.sfunfooter20120411 em{ font-style:normal;font-family: Verdana;}
.sfunfooter20120411 .spacing{line-height:23px;letter-spacing:3px;font-family:Verdana;margin-top:5px;}
.sfunfooter20120411 td a{display:block}
.sfunfooter20120411 td a:hover{color:#c00;text-decoration:none;}
.footershaixa{position:relative; z-index:2}
.footershaixa a{color:#333;text-decoration:none;}
.footershaixb{display:none;width:500px;height:175px;position:absolute;left:-230px;top:16px;cursor:auto;background:#fff;border:1px solid #c00;text-align:left;}
.footershaixa.activexiala div{display:block;padding:5px 10px;}
.footershaixa.activexiala div td{line-height:22px;}