<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqd.three.dao.PlayerMapper" >

    <select id="findPlayers" resultMap="PlayerMap">
        select p.id,p.name,p.goals,p.assists,c.id club_id,c.name club_name
        from player p ,club c
        <where>
            c.country=#{country} and p.club_id=c.id
            <if test="mark==1">
                and p.goals is not null
            </if>
            <if test="mark==2">
                and p.assists is not null
            </if>
        </where>
        order by
        <if test="mark==1">
            goals DESC
        </if>
        <if test="mark==2">
            assists DESC
        </if>
    </select>

    <resultMap id="PlayerMap" type="com.dqd.three.pojo.Player">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="goals" property="goals" jdbcType="INTEGER" />
        <result column="assists" property="assists" jdbcType="INTEGER" />

        <association property="club" javaType="com.dqd.three.pojo.Club">
            <result column="club_id" property="id" jdbcType="INTEGER" />
            <result column="club_name" property="name" jdbcType="VARCHAR" />
        </association>

    </resultMap>


  <resultMap id="BaseResultMap" type="com.dqd.three.pojo.Player" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="club_id" property="clubId" jdbcType="INTEGER" />
    <result column="goals" property="goals" jdbcType="INTEGER" />
    <result column="assists" property="assists" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, club_id, goals, assists, avatar
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dqd.three.pojo.PlayerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from player
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from player
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from player
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dqd.three.pojo.PlayerExample" >
    delete from player
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dqd.three.pojo.Player" >
    insert into player (id, name, club_id, 
      goals, assists, avatar
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{clubId,jdbcType=INTEGER}, 
      #{goals,jdbcType=INTEGER}, #{assists,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dqd.three.pojo.Player" >
    insert into player
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="clubId != null" >
        club_id,
      </if>
      <if test="goals != null" >
        goals,
      </if>
      <if test="assists != null" >
        assists,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="clubId != null" >
        #{clubId,jdbcType=INTEGER},
      </if>
      <if test="goals != null" >
        #{goals,jdbcType=INTEGER},
      </if>
      <if test="assists != null" >
        #{assists,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dqd.three.pojo.PlayerExample" resultType="java.lang.Integer" >
    select count(*) from player
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update player
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.clubId != null" >
        club_id = #{record.clubId,jdbcType=INTEGER},
      </if>
      <if test="record.goals != null" >
        goals = #{record.goals,jdbcType=INTEGER},
      </if>
      <if test="record.assists != null" >
        assists = #{record.assists,jdbcType=INTEGER},
      </if>
      <if test="record.avatar != null" >
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update player
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      club_id = #{record.clubId,jdbcType=INTEGER},
      goals = #{record.goals,jdbcType=INTEGER},
      assists = #{record.assists,jdbcType=INTEGER},
      avatar = #{record.avatar,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dqd.three.pojo.Player" >
    update player
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="clubId != null" >
        club_id = #{clubId,jdbcType=INTEGER},
      </if>
      <if test="goals != null" >
        goals = #{goals,jdbcType=INTEGER},
      </if>
      <if test="assists != null" >
        assists = #{assists,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dqd.three.pojo.Player" >
    update player
    set name = #{name,jdbcType=VARCHAR},
      club_id = #{clubId,jdbcType=INTEGER},
      goals = #{goals,jdbcType=INTEGER},
      assists = #{assists,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>